<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="jdbc.driver" value="com.mysql.jdbc.Driver"/>
        <property name="jdbc.url" value="jdbc:mysql://127.0.0.1:3306/girls?useUnicode=true&amp;characterEncoding=UTF8"/>
        <property name="jdbc.username" value="root"/>
        <property name="jdbc.password" value="123456"/>
    </properties>
    
    <!-- settings -->
    <settings>
        <!-- 数据库下划线 转 Java驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- columnName 转 LabelName -->
        <setting name="useColumnLabel" value="true"/>
        <!-- null自动转换成 JdbcType.NULL -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- 别名 - mapper中可以直接使用类名 -->
    <typeAliases>
        <package name="com.yuki.entity" />
    </typeAliases>
    
    <!-- enviroment -->
   <environments default="dev">
       <environment id="dev">
           <transactionManager type="JDBC"></transactionManager>
           <dataSource type="POOLED">
               <property name="driver" value="${jdbc.driver}"/>
               <property name="url" value="${jdbc.url}"/>
               <property name="username" value="${jdbc.username}"/>
               <property name="password" value="${jdbc.password}"/>
           </dataSource>
       </environment>
   </environments>



    <!-- mappers -->
    <mappers>
        <mapper resource="demo/girlDao.xml" />
        <mapper resource="query/simple.xml" />
        <mapper resource="query/res.xml" />
        <mapper resource="query/other.xml" />
    </mappers>

</configuration>